extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Yolisma Zacarias

        p Software Engineer Apprentice


        .about-bio

          p Hi, everyone! As a first-generation Latina, I am truly honored to be apart of AnitaB, where I am given the chance to learn how to build full stack applications, utilizing the skills I learned and applying them in my upcoming role, as an apprentice, with Intuit. Besides that, I love food, coffee and cats! 


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        ul
          li 555-555-1234
          li yolisma@email.com

        a.btn-link(href='http://www.linkedin.com/in/yolisma-zacarias4') LinkedIn
        a.btn-link(href='https://github.com/Yolisss') GitHub
        a.btn-link(href='https://twitter.com/Yolissss_') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back