//- using layout.pug as our default layout throughout each file we're using 
//- block content is the personal information we hadd within our body in layout file 
extends layout.pug

block content

  article.portfolio-intro

    h1 My Portfolio

    p During the last couple of weeks, I took on challenges by creating small projects to help better my understanding and skill in CSS, HTML and JS. In the next coming weeks, you will see more projects that involve with Express and React. Stay tuned!  


  article.portfolio-project-thumbs
    .projects-box.box.grid
      //- Use the Pug `each` iterator to loop over the projects in your data file  

      each project in projects 
        .cell
          a(href=`/project/${project.id}`)
            img.thumbnail(src=`${project.images_urls[0]}`, alt=`${project.project_name}`)
            h5 #{project.project_name}
             //- accessing data from data.json file from project var we declared in app.js 
